In [1]:
from math import *
import pandas as pd
import numpy as np

In [30]:
inst=pd.read_csv("./instances/instance_01.csv",header=None)
inst = inst.iloc[:, 1:]
inst.head()

,1,2,3,4,5,6
0,latitude,longitude,order_weight,window_start,window_end,delivery_duration
1,48.764246,2.34842,NaN,NaN,NaN,600
2,48.844975,2.341771,130.0,24600,34200,300
3,48.869348,2.353465,20.0,20400,30600,300
4,48.853561,2.351725,10.0,17100,28800,300

In [29]:
list_sommet = np.arange(1,max(i for i in inst.index )+1)
list_sommet

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [55]:
veh = pd.read_csv("./vehicles.csv",header=None)
veh.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,family,max_capacity,rental_cost,fuel_cost,radius_cost,speed,parking_time,fourier_cos_0,fourier_sin_0,fourier_cos_1,fourier_sin_1,fourier_cos_2,fourier_sin_2,fourier_cos_3,fourier_sin_3
1,1,800,260,0.0005,0.0009705352210466934,12.29,400,1.22,0.0,-0.19,-0.14,-0.03,-0.01,0.03,0.06
2,2,1800,390,0.00083,0.0009705352210466934,11.46,500,1.18,0.0,-0.16,-0.12,-0.02,-0.0,0.03,0.06
3,3,2700,410,0.00117,0.0009705352210466934,11.46,500,1.18,0.0,-0.16,-0.12,-0.02,-0.0,0.03,0.06

In [ ]:
def c_1(R):
    mat = np.zeros[len(R),len(list_sommet)]
    for r in R : 
        j=1
        for i in r[2]:
            mat[r[j],i] = 1
        j+=1
    return mat.sum(axis=0) - np.ones(len(list_sommet)) # il faut que cette quantité soit égal à 1 pour chaque sommet, donc un vecteur de 1 de taille len(list_sommet)

In [ ]:
def c_2(R):
    poids = np.zeros(len(R))
    for i in range(len(R)):
        for order in R[i][2]:
            poids[i] += inst.loc[order,'order_weight' ] #le poids est en colonne 3
        poids[i]-= veh.loc[R[i][0],'max_capacity']
    return poids # il faut que cette quantité soit inférieur à 0 pour chaque route